---
layout: default
css: [common.css]
js: [common.js,header.js]
---
<div id="articlelist" class="main-content">
	{% for post in site.posts  %}
		{% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
		{% capture post_previous_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
		{% capture post_next_year %}{{ post.next.date | date: "%Y" }}{% endcapture %}

		{% if forloop.first or post_next_year != post_year and post_year != "1991"%}
		<div class="year-area">
			<div class="type-head">{{ post_year }}</div>
			<ul>
		{% endif %}

				{% if post.type != "software" %}
				<li>
					<time>{{ post.date | date: "%Y/%m/%d" }}&nbsp;</time>
					<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					<span>&nbsp;
						{% for cat in post.tags %}
							<a href="{{site.baseUrl}}{{site.tagsurl }}#{{ cat }}">{{ cat }}</a>
						{% endfor %}
					</span>
				</li>
				{% endif %}

		{% if forloop.last or post_previous_year != post_year %}
			</ul>
		</div>
		{% endif %}
	{% endfor %}
	</div>
</div>
